<h1 *ngFor="let age of ages">My age is {{age}}</h1>
<ol>
    <li *ngFor="let name of names"><b>{{name}}</b></li>
</ol>
<select name="" id="">
    <option value="" *ngFor="let state of states "><b>{{state}}</b></option>
</select>
<h3 *ngFor="let user of users"> I am {{user.name}} and my phone is {{user.phone}}</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th> name </th>
            <th> phone </th>
            <th>marks</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name |uppercase}}</td>
            <td>{{user.phone}}</td>
            <td [ngStyle]="{color:user.marks<35?'red':'green'}">{{user.marks}}</td>
            <td [ngClass]="{'minor':user.age<18,'major':user.age>=18}">{{user.age}}</td>
        </tr>
    </tbody>
</table>
<div class="product" *ngFor="let product of products">
    <h4>name:{{product.name}}</h4>
    <h4>{{product.price}} </h4>
    <h4> {{product.rating}}</h4>
    <button class="btn btn-succes">Add to cart</button>
    <button class="btn btn-warning"> Buy now</button>
</div>
<p>{{users |json}}</p>
<pre>{{users |json}}</pre>
<h1>{{today}}</h1>
<h1>{{today |date}}</h1>
<h1>{{today |date:'dd/MM/yyyy'}}</h1>
<h1>{{today |date:'MM/yyyy/dd'}}</h1>
<h1>{{today |date:'medium'}}</h1>
<h1>{{today |date:'short'}}</h1>
<h1>{{today |date:'mediumTime'}}</h1>
<h1>{{today |date:'shortTime'}}</h1>
