
       
   
    <div class="parent">
       
        <div class="child1">
            
                <h1>CALCULATOR</h1>
                <input type="number" placeholder="0" [(ngModel)]="number1">
                <br>
                <input type="number" placeholder="0" [(ngModel)]="number2">
                <br>
                <br>
                <div>
                    <button (click)="add()">ADD+</button>
                    <button (click)="sub()">SUB-</button>
                    <button (click)="mul()">MUL*</button>
                    <button (click)="div()">DIV/</button>
                <h1>result is {{result}}</h1>
                </div>
            
        </div>
    </div>

