<div class="parent">
    <div class="left">
        <label routerLink="home"> Account</label>
        <label routerLink="calculator">Turmeric</label>
        <label>Mirchi</label>
        <label>Masala karam</label>
        <label>Cloves</label>
        <label>Cardamom</label>
        <label>Star Anise</label>
        <label>About</label>
        <label>Help</label>
        <button class="btn btn-primary" routerLink="/login">LogOut</button>
    </div>

    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>