.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: white;

    
   
}
label{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 4%;
}

.right{
    width: 80%;
    height: 100%;
    background-color: rgb(231, 130, 130);
}