.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: white;
    text-align: center;
    overflow: auto;

    
   
}
label{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 4%;
    

}
label:hover{
    background-color: aqua;
    cursor: pointer;
}

.right{
    width: 80%;
    height: 100%;
    background-color: rgb(231, 130, 130);
    overflow: auto;
}
button{
    
}