.parent{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: green;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(236, 14, 188);
}