<div class="parent">
    <div class="left">
        <label routerLink="home"> Home</label>
        <label routerLink="data-binding">data-binding</label>
        <label routerLink="calculator">calculator</label>
        <label routerLink="rectangle">Rectangle</label>
        <label routerLink="directives">Directives</label>
        <label routerLink="registration">Registration</label>
        <label routerLink="wish">wish</label>
        <label routerLink="cart">cart</label>
        <label routerLink="grade">Grade</label>
        <label routerLink="car">Car</label>
        <label routerLink="phones">phones</label>
        <label routerLink="users">Users</label>
        <label routerLink="vehicle">Vehicle</label>
        <label routerLink="images">Images</label>
        <label routerLink="products">products</label>
        <label routerLink="accounts">Accounts</label>
        <button class="btn btn-primary" routerLink="/login">LogOut</button>
    </div>
    
    

    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>