.parent {
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: relative;
   
}

.child1 {
    height: 5%;
    width: 100%;
    background-color: blueviolet;
}
.child2{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(236, 211, 67);
}

.pizza{
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}
select{
    border-radius: 10px;
    width: 10%;
    height: 50%;
}
h1{
    font-size: 100%;
    padding: 0.5%;
    color: red;
}
select {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
  }


